---
layout: defaultalbum
heading: Alzbetka
subheading:
---


<div class="container" align="center">

  <main>
      <section>
        <h2>Alzbetka</h2>
        <h3>a jej 1. tyzden</h3>
        <h3>&nbsp;&nbsp;</h3>
        <p>Vsetkych 16 fotiek vo vysokej kvalite (pre tlac) sa da stiahnut na <a href="http://staff.utia.cas.cz/barunik/files/fotky.zip">tomto linku</a>.</p>
        <p>Pozor, zip subor ma 141.2 MB</p>
        <p>&nbsp;&nbsp;</p>
      </section>

  </main>

        {% include lightbox.html src="ab1.jpg" data="group"%}
        {% include lightbox.html src="ab2.jpg" data="group" %}
        {% include lightbox.html src="ab3.jpg" data="group" %}
        {% include lightbox.html src="ab4.jpg" data="group" %}
        {% include lightbox.html src="ab5.jpg" data="group" %}
        {% include lightbox.html src="ab6.jpg" data="group" %}
        {% include lightbox.html src="ab7.jpg" data="group" %}
        {% include lightbox.html src="ab8.jpg" data="group" %}
        {% include lightbox.html src="ab9.jpg" data="group" %}
        {% include lightbox.html src="ab10.jpg" data="group" %}
        {% include lightbox.html src="ab11.jpg" data="group" %}
        {% include lightbox.html src="ab12.jpg" data="group" %}
        {% include lightbox.html src="ab13.jpg" data="group" %}
        {% include lightbox.html src="ab14.jpg" data="group" %}
        {% include lightbox.html src="ab15.jpg" data="group" %}
        {% include lightbox.html src="ab16.jpg" data="group" %}

</div>
